@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

.navbar {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  width: 150px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
  color: hsl(0, 0%, 20%);
  font-size: 18px;
  cursor: pointer;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar button {
  background: transparent;
  font-size: 16px;
  color: hsl(0, 0%, 20%);
  border: 1px solid hsl(0, 0%, 20%);
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.navbar button:hover {
  background-color: hsl(0, 0%, 20%);
  color: white;
}

.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid hsl(0, 0%, 20%);
}
